# ### Site settings ###

# used in layouts and header
url: "http://conemu.github.io"

# used with breadcrumbs
site_name: "conemu.github.io"
# used with socials
twit_text: "ConEmu%3A%20Handy%20Windows%20terminal"

# main mirror location
mirror: "" # leave it empty for main site
mirror_en: "http://conemu.github.io"
mirror_ru: "http://www.conemu.ru"
# mirror: "http://conemu.github.io"
# used with conjunction with
# page.docfolder: "/en"
# sort of: href="{{ site.mirror }}{{ page.docfolder }}/VersionComparison.html"


# ### Build settings ###

markdown: kramdown

kramdown:
  input: GFM
  hard_wrap: false

# Allow redirections
gems:
  - jekyll-redirect-from


# ### Page defaults ###

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      isroot: true
      layout: "root"
      title: "ConEmu - Windows terminal emulator"
      site_label: "Windows terminal"
      docfolder: /en
      pagelang: en
      toctitle: "Back to the table of contents"
      suggedit: "Suggest better edit"
  -
    scope:
      path: "en"
      type: "pages"
    values:
      isroot: false
      layout: "root"
      title: "ConEmu - Documentation"
      site_label: "Windows terminal"
      docfolder: /en
      pagelang: en
      toctitle: "Back to the table of contents"
      suggedit: "Suggest better edit"
  -
    scope:
      path: "ru"
      type: "pages"
    values:
      isroot: false
      layout: "root"
      title: "ConEmu - эмулятор терминала Windows"
      site_label: "терминал Windows"
      docfolder: /ru
      pagelang: ru
      toctitle: "Назад к оглавлению"
      suggedit: "Предложить правку"


#
# TableOfContents.html
#
toc:
  -
    eng: "ConEmu"
    rus: "ConEmu"
    id:  "conemu"
    url: "*"
    children:
      -
        eng: "Distros comparison"
        rus: "Какую версию выбрать"
        url: "VersionComparison.html"
        children:
          -
            eng: "x64 or x86"
            rus: "x64 или x86"
            url: "VersionComparison.html#x64-or-x86"
          -
            eng: "Stable or Preview"
            rus: "Stable или Preview"
            url: "VersionComparison.html#release-stages"
      -
        eng: "What is ‘Certificate’?"
        rus: "Что такое «Сертификат»?"
        url: "Certificate.html"
      -
        eng: "Installation"
        rus: "Installation"
        url: "Installation.html"
        children:
          -
            eng: "Auto install"
            rus: "Auto install"
            url: "AutoInstall.html"
          -
            eng: "Folders"
            rus: "Папки/файлы"
            url: "ConEmuFolders.html"
          -
            eng: "Speedup update with installer"
            rus: "Скорость обновления инсталлятором"
            url: "UpdateSpeedup.html"
      -
        eng: "Screenshots"
        rus: "Скриншоты"
        url: "Screenshots.html"
      -
        eng: "Screencasts"
        rus: "Видео"
        url: "Screencasts.html"
      -
        eng: "Delusions"
        rus: "Зублуждения"
        url: "Delusions.html"
      -
        eng: "FAQ"
        rus: "FAQ"
        url: "ConEmuFAQ.html"
      -
        eng: "Whats new"
        rus: "Whats new"
        url: "Whats_New.html"
      -
        eng: "Donate"
        rus: "Поддержать"
        url: "donate"
  -
    eng: "ConEmu Terms"
    rus: "Термины"
    id:  "terms"
    url: "ConEmuTerms.html"
    children:
      -
        eng: "Active process"
        rus: "Active process"
        url: "ActiveProcess.html"
      -
        eng: "Alternative buffer"
        rus: "Alternative buffer"
        url: "AlternativeBuffer.html"
      -
        eng: "Apps key"
        rus: "Apps key"
        url: "AppsKey.html"
      -
        eng: "ChildGui"
        rus: "ChildGui"
        url: "ChildGui.html"
      -
        eng: "Inject ConEmuHk"
        rus: "Inject ConEmuHk"
        url: "ConEmuHk.html"
      -
        eng: "ConsoleApplication"
        rus: "ConsoleApplication"
        url: "ConsoleApplication.html"
      -
        eng: "RealConsole"
        rus: "RealConsole"
        url: "RealConsole.html"
      -
        eng: "StatusBar"
        rus: "StatusBar"
        url: "StatusBar.html"
      -
        eng: "Terminal vs shell"
        rus: "Terminal vs shell"
        url: "TerminalVsShell.html"
      -
        eng: "VirtualConsole"
        rus: "VirtualConsole"
        url: "VirtualConsole.html"
      -
        eng: "WinApi"
        rus: "WinApi"
        url: "WinApi.html"
  -
    eng: "Launch apps"
    rus: "Запуск приложений"
    id:  "launch-apps"
    url: ""
    children:
      -
        eng: "Launch new tab"
        rus: "Новый таб"
        url: "LaunchNewTab.html"
      -
        eng: "Restart tab"
        rus: "Перезапуск таба"
        url: "RestartTab.html"
      -
        eng: "Startup directory"
        rus: "Рабочий каталог"
        url: "StartupDir.html"
      -
        eng: "Tasks"
        rus: "Tasks"
        url: "Tasks.html"
      -
        eng: "Default terminal"
        rus: "Терминал по умолчанию"
        url: "DefaultTerminal.html"
      -
        eng: "sudo"
        rus: "sudo"
        url: "csudo.html"
      -
        eng: "Command line switches"
        rus: "Аргументы командной строки"
        url: "CommandLine.html"
        children:
          -
            eng: "ConEmu.exe switches"
            rus: "Аргументы ConEmu.exe"
            url: "ConEmuArgs.html"
          -
            eng: "ConEmuC.exe switches"
            rus: "Аргументы ConEmuC.exe"
            url: "ConEmuC.html"
      -
        eng: "-new_console switch"
        rus: "Ключ -new_console"
        url: "NewConsole.html"
      -
        eng: "DOS applications"
        rus: "DOS приложения (DosBox)"
        url: "DosBox.html"
  -
    eng: "Settings"
    rus: "Настройка"
    id:  "settings"
    url: ""
    children:
      -
        eng: "First start"
        rus: "Первый запуск"
        url: "SettingsFast.html"
      -
        eng: "ConEmu.xml"
        rus: "ConEmu.xml"
        url: "ConEmuXml.html"
      -
        eng: "Settings"
        rus: "Диалог настроек"
        url: "Settings.html"
        children:
          -
            eng: "Main"
            rus: "Main"
            url: "SettingsMain.html"
            children:
              -
                eng: "Size & Pos"
                rus: "Size & Pos"
                url: "SettingsSizePos.html"
              -
                eng: "Appearance"
                rus: "Appearance"
                url: "SettingsAppearance.html"
              -
                eng: "Task bar"
                rus: "Task bar"
                url: "SettingsTaskBar.html"
              -
                eng: "Update"
                rus: "Update"
                url: "SettingsUpdate.html"
          -
            eng: "Startup"
            rus: "Startup"
            url: "SettingsStartup.html"
            children:
              -
                eng: "Tasks"
                rus: "Tasks"
                url: "SettingsTasks.html"
              -
                eng: "ComSpec"
                rus: "ComSpec"
                url: "SettingsComspec.html"
              -
                eng: "Environment"
                rus: "Environment"
                url: "SettingsEnvironment.html"
          -
            eng: "Features"
            rus: "Features"
            url: "SettingsFeatures.html"
            children:
              -
                eng: "Text cursor"
                rus: "Text cursor"
                url: "SettingsTextCursor.html"
              -
                eng: "Colors"
                rus: "Colors"
                url: "SettingsColors.html"
              -
                eng: "Transparency"
                rus: "Transparency"
                url: "SettingsTransparency.html"
              -
                eng: "Tabs"
                rus: "Tabs"
                url: "SettingsTabBar.html"
              -
                eng: "Status bar"
                rus: "Status bar"
                url: "SettingsStatusBar.html"
              -
                eng: "App distinct"
                rus: "App distinct"
                url: "SettingsAppDistinct.html"
          -
            eng: "Integration"
            rus: "Integration"
            url: "SettingsIntegration.html"
            children:
              -
                eng: "Default terminal"
                rus: "Default terminal"
                url: "SettingsDefTerm.html"
          -
            eng: "Keys & Macro"
            rus: "Keys & Macro"
            url: "SettingsHotkeys.html"
            children:
              -
                eng: "Controls"
                rus: "Controls"
                url: "SettingsControls.html"
              -
                eng: "Mark/Copy"
                rus: "Mark/Copy"
                url: "SettingsMarkCopy.html"
              -
                eng: "Paste"
                rus: "Paste"
                url: "SettingsPaste.html"
              -
                eng: "Highlight"
                rus: "Highlight"
                url: "SettingsHighlight.html"
          -
            eng: "Far Manager"
            rus: "Far Manager"
            url: "SettingsFar.html"
            children:
              -
                eng: "Far macros"
                rus: "Far macros"
                url: "SettingsFarMacros.html"
              -
                eng: "Views"
                rus: "Views"
                url: "SettingsFarView.html"
          -
            eng: "Info"
            rus: "Info"
            url: "SettingsInfo.html"
            children:
              -
                eng: "Debug"
                rus: "Debug"
                url: "SettingsDebug.html"
      -
        eng: "Fonts"
        rus: "Шрифты"
        url: "Fonts.html"
  -
    eng: "Features"
    rus: "Функции"
    id:  "features"
    url: ""
    children:
      -
        eng: "Quake/Tilda style"
        rus: "Quake/Tilda style"
        url: "ConEmuQuake.html"
      -
        eng: "ExtendedConsole"
        rus: "ExtendedConsole"
        url: "ExtendedConsole.html"
      -
        eng: "ANSI X3.64 / 256 color"
        rus: "ANSI X3.64 / 256 color"
        url: "AnsiEscapeCodes.html"
        children:
          -
            eng: "Xterm 256 colors"
            rus: "Xterm 256 colors"
            url: "Xterm256Colors.html"
      -
        eng: "Operation progress"
        rus: "Прогресс операций"
        url: "Progress.html"
      -
        eng: "Windows 7 taskbar"
        rus: "Таскбар Windows 7"
        url: "Windows7Taskbar.html"
      -
        eng: "Hyperlinks and files"
        rus: "Гиперссылки и файлы"
        url: "FileLineDetector.html"
      -
        eng: "ConEmu Inside"
        rus: "ConEmu Inside"
        url: "InsideParent.html"
      -
        eng: "Bash completion in cmd.exe"
        rus: "Автодополнение в cmd.exe"
        url: "ConEmuClink.html"
      -
        eng: "ConEmu Environment variables"
        rus: "Переменные окружения ConEmu"
        url: "ConEmuEnvironment.html"
      -
        eng: "ConEmu Icons"
        rus: "Иконки ConEmu"
        url: "ConEmuIcons.html"
      -
        eng: "Grab Explorer path"
        rus: "Взятие пути из окна Проводника"
        url: "ExplorerPath.html"
  -
    eng: "GuiMacro"
    rus: "GuiMacro"
    id:  "guimacro"
    url: ""
    children:
      - eng: "GUI Macros"
        rus: "GUI макросы"
        url: "GuiMacro.html"
      - eng: "How GuiMacro may be executed"
        rus: "Способы вызова"
        url: "GuiMacro.html#HowToCall"
      - eng: "Syntax"
        rus: "Синтаксис"
        url: "GuiMacro.html#Syntax"
      - eng: "List of functions"
        rus: "Список функций"
        url: "GuiMacro.html#List_of_functions"
      - eng: "Scripting settings"
        rus: "Настройки из скриптов"
        url: "GuiMacro.html#SetOptionExample"
      - eng: "GuiMacro examples"
        rus: "GuiMacro примеры"
        url: "GuiMacro.html#Examples"
  -
    eng: "Controls"
    rus: "Управление"
    id:  "controls"
    url: ""
    children:
      -
        eng: "Tab bar"
        rus: "Закладки (табы)"
        url: "TabBar.html"
      -
        eng: "Tool bar"
        rus: "Панель инструментов"
        url: "ToolBar.html"
      -
        eng: "Splits (panes)"
        rus: "Splits (panes)"
        url: "SplitScreen.html"
      -
        eng: "System menu"
        rus: "Системное меню"
        url: "SystemMenu.html"
      -
        eng: "Tab menu"
        rus: "Меню таба"
        url: "TabMenu.html"
      -
        eng: "Keyboard shortcuts"
        rus: "Клавиатура"
        url: "KeyboardShortcuts.html"
      -
        eng: "Global hotkeys"
        rus: "Глобальные клавиши"
        url: "GlobalHotKeys.html"
      -
        eng: "Using mouse"
        rus: "Мышь"
        url: "UsingMouse.html"
      -
        eng: "Text selection"
        rus: "Работа с текстом"
        url: "TextSelection.html"
      -
        eng: "Far and touchscreen"
        rus: "Far и тачскрин"
        url: "TabletPC.html"
  -
    eng: "Cygwin and Msys"
    rus: "Cygwin и Msys"
    id:  "cygwin-and-msys"
    url: "CygwinMsys.html"
    children:
      -
        eng: "Cygwin & ${HOME}"
        rus: "Cygwin & ${HOME}"
        url: "CygwinStartDir.html"
      -
        eng: "Cygwin & startup cmd"
        rus: "Cygwin & startup cmd"
        url: "CygwinStartCmd.html"
      -
        eng: "ssh agent"
        rus: "ssh agent"
        url: "SshAgent.html"
      -
        eng: "Cygwin & Ansi"
        rus: "Cygwin & Ansi"
        url: "CygwinAnsi.html"
      -
        eng: "Cygwin current dir"
        rus: "Cygwin current dir"
        url: "CygwinCurDir.html"
      -
        eng: "Cygwin heap error"
        rus: "Cygwin heap error"
        url: "CygwinHeap.html"
      -
        eng: "AppHelp problem"
        rus: "AppHelp problem"
        url: "AppHelp.html"
  -
    eng: "ConEmu and Far Manager"
    rus: "ConEmu и Far Manager"
    id:  "conemu-and-far"
    url: ""
    children:
      -
        eng: "Far & ConEmu plugins"
        rus: "Плагины Far & ConEmu"
        url: "ConEmuFarPlugin.html"
      -
        eng: "Far Macros"
        rus: "Far макросы"
        url: "FarMacro.html"
  -
    eng: "Tips and Tweaks"
    rus: "Советы и хитрости"
    id:  "tips-and-tweaks"
    url: "TipsAndTweaks.html"
    children:
      -
        eng: "Unicode support"
        rus: "Поддержка Unicode"
        url: "UnicodeSupport.html"
      -
        eng: "Bold/Italic/Underlined"
        rus: "Жирный/Курсив/Подчеркнутый"
        url: "FaqBoldItalic.html"
      -
        eng: "Run shell naked"
        rus: "Шелл без аргументов"
        url: "FaqPlainShell.html"
      -
        eng: "Tab or Console title"
        rus: "Заголовок таба или консоли"
        url: "TabVsTitle.html"
      -
        eng: "Cmd Prompt"
        rus: "Cmd Prompt"
        url: "CmdPrompt.html"
      -
        eng: "Powershell Prompt"
        rus: "Powershell Prompt"
        url: "PowershellPrompt.html"
      -
        eng: "Prompt at the bottom"
        rus: "Prompt внизу окна"
        url: "PromptAtTheBottom.html"
      -
        eng: "ShellWorkDir"
        rus: "ShellWorkDir"
        url: "ShellWorkDir.html"
      -
        eng: "Solarized colors"
        rus: "Solarized схема"
        url: "SolarizedColors.html"
      -
        eng: "Git For Windows"
        rus: "Git For Windows"
        url: "GitForWindows.html"
      -
        eng: "Task bar bug"
        rus: "Task bar bug"
        url: "TaskBarBug.html"
      -
        eng: "Insert/Overwrite"
        rus: "Вставка/Замена"
        url: "InsertOverwrite.html"
        children:
          -
            eng: "TCC Insert/Overwrite"
            rus: "TCC Вставка/Замена"
            url: "TccInsertOverwrite.html"
      -
        eng: "Vim 256-color"
        rus: "Vim 256-color"
        url: "VimXterm.html"
      -
        eng: "Windows Environment variables"
        rus: "Переменные окружения Windows"
        url: "WindowsEnvironment.html"
  -
    eng: "Feedback and contacts"
    rus: "Обратная связь"
    id:  "feedback"
    url: "Issues.html"
    children:
      -
        eng: "Bad issues"
        rus: "Bad issues"
        url: "BadIssue.html"
      -
        eng: "CrashDump"
        rus: "CrashDump"
        url: "CrashDump.html"
      -
        eng: "FalseAlarms"
        rus: "FalseAlarms"
        url: "FalseAlarms.html"
      -
        eng: "Log files"
        rus: "Log файлы"
        url: "LogFiles.html"
      -
        eng: "MemoryDump"
        rus: "MemoryDump"
        url: "MemoryDump.html"
      -
        eng: "Microsoft Bugs"
        rus: "Microsoft Bugs"
        url: "MicrosoftBugs.html"
      -
        eng: "Old builds"
        rus: "Old builds"
        url: "OldBuild.html"
      -
        eng: "Sources"
        rus: "Sources"
        url: "Source.html"
      -
        eng: "How you may help"
        rus: "Как помочь в разработке"
        url: "ConEmuHelping.html"
  -
    eng: "Extras"
    rus: "Разное"
    id:  "extras"
    url: ""
    children:
      -
        eng: "ConEmu Awards"
        rus: "ConEmu Awards"
        url: "Awards.html"
      -
        eng: "Acknowledgements"
        rus: "Acknowledgements"
        url: "Acknowledgement.html"
      -
        eng: "ConEmu Reviews"
        rus: "ConEmu Reviews"
        url: "Reviews.html"
      -
        eng: "ConEmu Road Map"
        rus: "Планы на будущее"
        url: "RoadMap.html"
      -
        eng: "DropBox"
        rus: "DropBox"
        url: "DropBox.html"
      -
        eng: "KeyEvents"
        rus: "KeyEvents"
        url: "KeyEvents.html"
      -
        eng: "CPU and I/O consumption"
        rus: "Загрузка CPU и ввод/вывод"
        url: "CpuIoConsumption.html"
      -
        eng: "Process Explorer"
        rus: "Process Explorer"
        url: "ProcessExplorer.html"
      -
        eng: "Process Monitor"
        rus: "Process Monitor"
        url: "ProcessMonitor.html"
      -
        eng: "Dependency Walker"
        rus: "Dependency Walker"
        url: "DependencyWalker.html"
  -
    eng: "Far Manager"
    rus: "Far Manager"
    id:  "far-manager"
    url: ""
    children:
      -
        eng: "About Far Manager"
        rus: "Введение в Far Manager"
        url: "FarManager.html"
