
/* for layout debugging */

@media (min-width: 1080px) {
  #media-width:after {
    content: "swide";
  }
}

@media (min-width: 980px) and (max-width: 1080px) {
  #media-width:after {
    content: "wide";
  }
}

@media (max-width: 980px) {
  #media-width:after {
    content: "narrow";
  }
}


@media (orientation: landscape) {
  #media-orient:after {
    content: " land";
  }
}

@media (orientation: portrait) {
  #media-orient:after {
    content: " port";
  }
}

/*
== Deprecated, ignored ==
@media handheld {
  #media-orient:after {
    content: " HH";
  }
}
*/
