
.site {
margin: 0 auto;
max-width: 960px;
/*max-width: 68.571428571rem;*/
overflow: hidden;
}

@media (max-width: 980px) {
  .site {
    max-width: 100%;
  }
}

body {
  font-family: "Segoe UI", "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
  background: #073642;
  color: #002b36;
  font-size: 100%;
}

div {
  font-size: 100%;
  display: block;
}

.text {
  max-width: 800px;
  margin-top: 5pt;
  margin-bottom: 5pt;
}

.wrapper {
  margin: 0 auto; 
  min-height: 100%;
  background-color: #fdf6e3;
  -webkit-box-shadow: 0 0 8px 3px #93a1a1;
  -moz-box-shadow: 0 0 8px 3px #93a1a1;
  box-shadow: 0 0 8px 3px #93a1a1;
}

@media (min-width: 980px) {
  .wrapper {
    width: 960px;
    min-width: 760px;
  }
  /*
  #media-width:after {
    content: "wide";
  }
  */
}

@media (max-width: 980px) {
  .wrapper {
    width: 100%;
  }
  /*
  #media-width:after {
    content: "narrow";
  }
  */
}

@media (orientation: landscape) {
  /*
  #media-orient:after {
    content: " land";
  }
  */
}

@media (orientation: portrait) {
  /*
  #media-orient:after {
    content: " port";
  }
  */
}

.maincol {
  padding: 10px 10px 10px 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: .6em 0;
}

h1 {
  font-size: 1.7em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.3em;
}
h6 {
  font-size: 1.2em;
}

h1.intro {
  margin: 0;
}

/* boxed inverted region mainly for code */
pre {
  width: 95%;
  font-size: .8em;
  /*line-height: 1.462em;*/
  line-height: 1.5em;
  padding: .7em;
  color: #eee8d5;
  background-color: #002b36;
  border: 4px solid #93a1a1;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 2px 2px 3px #839496;
  display: block;
  overflow: auto;
}

code {
  /*color: #fdf6e3;
  background-color: #073642;*/
  border: 1px solid #93a1a1;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-family: 'andale mono', 'lucida console', monospace;
  white-space: pre;
  padding: .05em .2em;
  margin: 0.1em 0.1em;
}

code.plus {
  color: white;
  background-color: green;
  padding: .2em .05em .2em .05em;
  border: 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

pre code {
  color: #eee8d5;
  background-color: #002b36;
  font-family: 'andale mono', 'lucida console', monospace;
  white-space: pre;
  padding: 0; /* padding is defined in 'pre' already */
  border: 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  line-height: 1.5em;
}

/* exactly same as "code" */
pre.prettyprint {
  font-family: 'andale mono', 'lucida console', monospace;
  white-space: pre;
}

code.install {
  width: 50em;
  white-space: normal;
}

@media (max-width: 980px) {
  pre {
    max-width: 91%;
  }
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

h1, h2 {
  margin-bottom: 5pt;
}

/* deprecation --> header h1 */
#h0 {
  margin-top: 0;
}

h1 {
  margin-top: 0;
}

.stext {
  max-width: 450px;
  font-size: .8em;
}

.snote {
  max-width: 650px;
  font-size: .8em;
  text-align: center;
}

.donatebox {
  width: 300px;
  background-color: #fdf6e3;
  -webkit-box-shadow: 0 0 8px 3px #93a1a1;
  -moz-box-shadow: 0 0 8px 3px #93a1a1;
  box-shadow: 0 0 8px 3px #93a1a1;
  padding: .5em;
}

table, tr, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}

th, td {
  padding: 0.2em;
}

table.no-border {
  border: 0;
  border-spacing: 0;
  width: 100%;
}

table.no-border tr, table.no-border th, table.no-border td {
  border: 0;
  border-spacing: 0;
  padding: 0;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
  width: 100%;
  padding: 0;
  position: relative;
}
.middle:after {
  display: table;
  clear: both;
  content: '';
}
.container {
  width: 100%;
  float: left;
  overflow: hidden;
}
.content {
  padding: 0 0 0 210px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
  float: left;
  width: 250px;
  margin-left: -100%;
  position: relative;
}

@media (max-width: 980px) {
  .left-sidebar {
    display: none;
  }
  .content {
    padding-left: 0;
  }
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
  margin-top: .6em;
  font-size: .8em;
  color: #fdf6e3;
}
#footertext {
  text-align: center;
}
#footermap {
  text-align: right;
}

/* Social
-----------------------------------------------------------------------------*/
#social {
  height: 44px;
}
#social a {
  display: block;
  width: 32px;
  height: 32px;
  float: left;
  margin: 6px 6px 0px 0px;
}
#social a:hover {
  background-position: 0px -32px;
}
#soc-facebook {
  background: url('./img/fb.png');
}
#soc-twitter {
  background: url('./img/tw.png');
}
#soc-plus {
  background: #fdf6e3;
  display: block;
  width: 124px;
  height: 26px;
  float: left;
  margin: 10px 6px 0px 0px;
}

/* Menu and Search
-----------------------------------------------------------------------------*/
.block {
  margin: 10px 0px 20px 0px;
  width: 180px;
  background-color: #fdf6e3;
  box-shadow: 0 0 4px 1px #93a1a1;
  -webkit-box-shadow: 0 0 4px 1px #93a1a1;
  -moz-box-shadow: 0 0 4px 1px #93a1a1;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: .5em;

  display: block;
  font-family: Tahoma, Arial;
  font-size: 90%;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  position: relative;
  text-align: left;
}

.blocktitle {
  font-family: Tahoma, Arial;
  font-size: 110%;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  padding: 0 0 5px 0;
  text-align: left;
  text-transform: uppercase;
}

.block ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.block li {
  line-height: 1.5em !important;
}

.block .MenuItemA {
  text-decoration: none !important;
}

#search-results {
  margin-top: 10px;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
  height: 90px;
}
#header-line {
  background: #002b36;
  width: 100%;
  height: 1px;
  float: left;
  margin-top: 10px;
}
#header-google {
  overflow: hidden;
  width:728px;
  height:90px;
  position: relative;
  left: 210px;
  top: -90px;
}

@media (max-width: 980px) {
  #header-google {
    /*
    width: 100%;
    left: 0;
    */
    display: none;
  }
  #header-google:after {
    content: " ";
  }
}

/* Logo
-----------------------------------------------------------------------------*/
#logo-block {
  float: left;
  margin: 0;
  background: url('./img/logo.png') no-repeat;
  width: 270px;
  height: 90px;
}
#logo-title {
  margin: 0px 0px 0px 55px;
  padding: 0px;
  font: 28px 'Tahoma';
  color: #000000;
  text-shadow: 0px 1px 0px #fff;
}
#logo-block a {
  text-decoration: none;
}
#logo-block a:hover {
  text-decoration: underline;
}
#logo-block a:visited {
  color: #000000;
}
#logo-descr {
  margin: 0px 0px 0px 58px;
  padding: 0px;
  font: 12px 'Tahoma';
  color: #000000;
  text-shadow: 0px 1px 0px #fff;
}

article img {
  max-width: 100%;
  max-height: 100%;
}

footer.read-also {
  margin-top: 2.5em;
  margin-bottom: 1em;
}

footer.read-also h2 {
  margin: 0;
}

footer.read-also ul {
  margin: 0.5em 0 0 0;
}
