<div>
  <span id="a" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemref="b">
    <a href="{% if site.url != 'local' %}{{ site.url }}{% endif %}{{ page.docfolder }}/" itemprop="url"><span itemprop="title">{{ site.site_name }}</span></a>
    ›
  </span>
  <span id="b" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child" {% if page.bc1_url != nil %} itemref="c" {% endif %}>
    <a href="{% if site.url != 'local' %}{{ site.url }}{% endif %}{{ page.docfolder }}/TableOfContents.html"><span itemprop="title">{% if page.docfolder == '/ru' %}Содержание{% else %}Table of Contents{% endif %}</span></a>
    ›
  </span>{% if page.bc1_url != nil %}
  <span id="c" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child" {% if page.bc2_url != nil %} itemref="d" {% endif %}>
    <a href="{% if site.url != 'local' %}{{ site.url }}{% endif %}{{ page.docfolder }}{{ page.bc1_url }}"><span itemprop="title">{{ page.bc1_title }}</span></a>
    ›
  </span>{% endif %}{% if page.bc2_url != nil %}
  <span id="d" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child" {% if page.bc3_url != nil %} itemref="e" {% endif %}>
    <a href="{% if site.url != 'local' %}{{ site.url }}{% endif %}{{ page.docfolder }}{{ page.bc2_url }}"><span itemprop="title">{{ page.bc2_title }}</span></a>
    ›
  </span>{% endif %}{% if page.bc3_url != nil %}
  <span id="e" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child">
    <a href="{% if site.url != 'local' %}{{ site.url }}{% endif %}{{ page.docfolder }}{{ page.bc3_url }}"><span itemprop="title">{{ page.bc3_title }}</span></a>
    ›
  </span>{% endif %}
</div>