<h1 id="h0"> Поддержать ConEmu </h1>

<p>ConEmu-Maximus5 поддерживается усилиями практически одного разработчика.
На разработку и поддержку потрачены сотни часов, самый ценный ресурс.
Но, конечно, есть и другие расходы, как незначительные, так и заметные:
аппаратное и программное обеспечение, используемое для разработки и тестирования,
цифровой сертификат для подписания исполняемых файлов ConEmu (текущий был выпущен
<a href="http://certum.pl">Certum.pl</a>), хостинг... </p>

<p>Вы можете поблагодарить и поддержать
<a href="/en/RoadMap.html">дальнейшую разработку</a>
и поддержку:
<a href="/en/Issues.html">сообщая о багах</a>,
<a href="/en/Localization.html">переводом</a>,
<a href="#funding">материально (ссылка ниже)</a>,
<a href="https://github.com/ConEmu/ConEmu.github.io">помогая с документацией</a>,
<a href="https://github.com/Maximus5/ConEmu">пул-реквестами</a>,
и рассказывая о ConEmu в соц.сетях. </p>


<h2 id="funding"> Поддержать материально </h2>

<table class="d-table">
<tr>
<td colspan="2">
  <a href="https://paypal.me/conemu/5" target="_blank"><img
     src="../img/donate-paypal.png" alt="PayPal"></a>
</td>
<td>
  <a href="bitcoin:1KiXxByfz53QNMSfrudZf5yTJvMKKY4Cn4?message=Support%20ConEmu%20development" target="_blank"><img
     src="../img/donate-bitcoin.png" alt="Bitcoin (BTC)" title="Bitcoin (BTC)"></a>
</td>
<td>BTC: 1KiXxByfz53QNMSfrudZf5yTJvMKKY4Cn4</td>
</tr>
<tr>
<td>
  <a href="https://github.com/sponsors/Maximus5" target="_blank"><img
     src="../img/donate-github.png" alt="GitHub sponsors"></a>
</td>
<td><a href="https://github.com/sponsors/Maximus5" target="_blank">Стать спонсором на GitHub</a></td>
</tr>
<td colspan="2">&nbsp;</td>
</table>
