{% comment %} ‘UTF-8’ {% endcomment %}

<h1>ConEmu - эмулятор консольного окна Windows</h1>

			<p>ConEmu-Maximus5 это &laquo;графический хост&raquo; для консольных приложений Windows.<br />
			При запуске нового консольного приложения в ConEmu реальное окно консоли не отображается, а весь вывод и ввод перехватывается и перенаправляется в ConEmu. Основное назначение - совместное использование с <a href="http://en.wikipedia.org/wiki/FAR_Manager">Far Manager</a>. Но в ConEmu можно запускать и другие приложения: cmd, powershell, dn, putty, notepad, и т.п.</p>
			<a href="http://www.fosshub.com/ConEmu.html"><img alt="Скачать ConEmu" src="/img/Downloads.png" title="Загрузить ConEmu" /></a>

			<p><a href="http://dotnetsurfers.com/blog/2013/12/15/developer-tools-screencast-7-conemu/">Видео (English)</a> - кратко о возможностях ConEmu.</p>
			&nbsp;

			<p><img alt="ConEmu screenshot" src="/img/ConEmu-Maximus5.png"></p>


<h2>Бонусы, которые получает пользователь</h2>

			<ul>
				<li>Простой ресайз окна консоли, максимизация и полноэкранный режим (Alt+Enter), который не требует перевода видекарты в текстовый режим; отсутствие проблемы появления полос прокрутки в Far при блокировании (засыпании) компьютера;</li>
				<li>Встроенная поддержка мультиконсоли (несколько приложений в одном окне ConEmu), возможность запускать новые приложения от имени администратора;</li>
				<li><a href="{{page.docfolder}}/DosBox.html">Простой запуск</a> DOS приложений в Windows 7 и 64битных OS через <a href="http://www.dosbox.com/">DosBox</a>;</li>
				<li>Консоли, запущенные в режиме администратора помечаются значком &laquo;Щит&raquo;;</li>
				<li>При выполнении консольных приложений, запущенных из Far, высота консольного буфера автоматически увеличивается. Просмотр полного вывода предыдущей команды - макрос на CtrlO;</li>
				<li>Можно выбрать тип отображаемого консольного курсора (как в GUI, либо как в консоли), или отключить его мигание;</li>
				<li>Улучшена работа плагина <a href="http://code.google.com/p/conemu-maximus5/wiki/PicView">PictureView</a>;</li>
				<li>Встроенная поддержка Drag&amp;Drop (shell style) между панелями и другими приложениями;</li>
				<li>Можно использовать и с другими консольными программами (например cmd.exe) с установкой высоты буфера и прокруткой окна с клавиатуры;</li>
				<li>Возможность переключения между окнами Far (панели, редактор, вьювер) через закладки, отображаемые в верхней части окна ConEmu. Встроенная поддержка переключения между закладками (любых открытых консолей) в стиле RecentTabs;</li>
				<li>Выбор типа сглаживания шрифтов, выбор шрифта и его размера + некоторые попытки поддержать немоноширинные шрифты;</li>
				<li>Отображение юникодных символов - иероглифов и т.п. (естественно, в юникодной версии Фара и при выборе юникодного шрифта);</li>
				<li>Все настройки загружаются из реестра (или XML файла). Допускается использование множества &laquo;конфигураций&raquo;, имя загружаемой конфигурации можно указать в параметрах запуска (ключ /config);</li>
				<li>Изменения большинства опций применяются &laquo;на лету&raquo; и могут быть сразу сохранены в реестр/XML-файл (диалог &quot;Settings&quot; открывается через щелчок правой кнопкой по заголовку -&gt; Settings либо Alt+Space -&gt; Settings);</li>
				<li>Поддерживаются нестандартные цвета консоли, несколько предопределенных цветовых схем;</li>
				<li>Возможность использования 32 цветов текста вместо стандартных 16-и;</li>
				<li>Возможность использования 24битных цветов (TrueColor) в Far3 вместо стандартных 16-и;</li>
				<li>Короткий правый клик мышкой в Far - выделение файлов, длинный правый клик - вызов контекстного меню проводника для элемента. Контекстное меню работает &quot;из коробки&quot;, настройка не требуется. ;</li>
				<li>Возможность повесить макрос Far на сочетание Alt+Enter (например, то же контекстное меню);</li>
				<li>Умеет сворачивать программу в трей (к часикам) автоматически при минимизации, или при правом щелчке по крестику;</li>
				<li>Улучшенное отображение псевдографических символов (прокрутки, progressbar, и пр.);</li>
				<li>Поддержка прогресса на иконке в Win7 (ИИ определяет проценты выполнения как по заголовку, так и по содержимому консоли);</li>
				<li>Окно можно делать прозрачным;</li>
				<li>И многое другое... смотрите <a href="{{page.docfolder}}/TableOfContents.html">документацию</a>, <a href="{{page.docfolder}}/Settings.html">окно настроек</a> и <a href="{{page.docfolder}}/Whats_New.html">What's New</a>.</li>
			</ul>


<h3>Как пользоваться ConEmu</h3>

			<ul>
				<li><a href="{{page.docfolder}}/Settings.html">Настройка ConEmu</a></li>
			</ul>


<h3>Скачать (Download)</h3>

			<p>Последнюю версию ConEmu-Maximus5 можно скачать <a href="http://www.fosshub.com/ConEmu.html">здесь</a>.</p>

			<p>Документация <a href="{{page.docfolder}}/TableOfContents.html">здесь</a>.</p>
