			<div class="block">
				<nav>
				<div class="blocktitle">Site menu</div>
				<div class="blockcontent">
					<ul>
					<!-- Menu starts -->
					<li><a {% if page.url == '/ru/Downloads.html' %} class="MenuItemA" {% endif %} href="/ru/Downloads.html"><span>Зеркала загрузки</span></a></li>
					<li><a {% if page.url == '/ru/TableOfContents.html' %} class="MenuItemA" {% endif %} href="/ru/TableOfContents.html"><span>Документация</span></a></li>
					<li><a {% if page.url == '/ru/Screenshots.html' %} class="MenuItemA" {% endif %} href="/ru/Screenshots.html"><span>Скриншоты</span></a></li>
					<li><a {% if page.url == '/ru/Settings.html' %} class="MenuItemA" {% endif %} href="/ru/Settings.html"><span>Настройка</span></a></li>
					<li><a {% if page.url == '/en/auto.html' %} class="MenuItemA" {% endif %} href="/en/auto.html"><span>Автоматизация</span></a></li>
					<li><a {% if page.url == '/donate.html' %} class="MenuItemA" {% endif %} href="/donate.html"><span>Поддержать</span></a></li>
					<li><a {% if page.url == '/ru/AnsiEscapeCodes.html' %} class="MenuItemA" {% endif %} href="/ru/AnsiEscapeCodes.html"><span>ANSI</span></a></li>
					<li><a {% if page.url == '/ru/Awards.html' %} class="MenuItemA" {% endif %} href="/ru/Awards.html"><span>Awards</span></a></li>
					<li><a {% if page.url == '/ru/Delusions.html' %} class="MenuItemA" {% endif %} href="/ru/Delusions.html"><span>Заблуждения</span></a></li>
					<li><a {% if page.url == '/ru/Source.html' %} class="MenuItemA" {% endif %} href="/ru/Source.html"><span>Исходный код</span></a></li>
					<!-- Menu ends -->
					</ul>
				</div>
				<div class="blockbottom"></div>
				</nav>
			</div>