			<div class="block">
				<nav>
				<div class="blocktitle"></div>
				<div class="blocktitle"><a href="/{{ site.site_lang }}/TableOfContents.html">Меню сайта</a></div>

				<div class="blockcontent">
					<ul>
					<!-- Menu starts -->{% for mi in site.data.menu %}{% capture mi_url %}/{{ site.site_lang }}/{{ mi.url }}{% endcapture %}
					<li><a {% if page.url == mi_url %} class="MenuItemA" {% endif %} href="{{ mi_url }}"><span>{{ mi.rus }}</span></a></li>{% endfor %}
					<!-- Menu ends -->
					</ul>
				</div>
				<div class="blockextra"><a {% if page.url == "/donate.html" %} class="MenuItemA" {% endif %} href="/donate.html"><span>Поддержать</span></a></div>
				<div class="blockextra"><a {% if page.url == "/en/Issues.html" %} class="MenuItemA" {% endif %} href="/{{ page.pagelang }}/Issues.html"><span>Обратная связь</span></a></div>
				</nav>
			</div>