<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "SoftwareApplication",
  "name": "ConEmu-Maximus5",
  "alternateName": "ConEmu",
  "description": "Local terminal for Windows",
  "url": "{{ site.url }}",
  "screenshot": "{{ site.url }}/img/ConEmu-Maximus5.png",
  "applicationCategory": "Terminal",
  "operatingSystem": "Windows",
  "requirements": "Windows 2000",
  "license": "http://opensource.org/licenses/BSD-3-Clause",
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "5",
    "reviewCount": "27",
    "url": "http://www.fosshub.com/ConEmu.html"
  },
  "offers": {
    "@type": "Offer",
    "price": "0"
  },
  "sameAs": [ "https://twitter.com/ConEmuMaximus5",
    "https://www.facebook.com/ConEmu.Maximus5",
    "https://plus.google.com/116287257743594353797",
    "http://conemu.tumblr.com/" ],
  "author": {
    "@type": "Person",
    "name": "Maximus5",
    "image": "{{ site.url }}/img/logo.png",
    "sameAs": "https://twitter.com/ConEmuMaximus5"
  }
}
</script>
