			<div class="block">
				<div class="blocktitle">{% if page.pagelang != 'ru' %}Site search{% else %}Поиск по сайту{% endif %}</div>
				<div class="blockcontent">
					<form method="GET" action="/search.html">
						<div id="search-field-div"><input id="search-field" type="text" name="q" value=""></div>
						<div id="search-button-div"><input id="search-button" type="submit" value="Search"></div>
					</form>
				</div>
				<script>
				{
					var regexS = "[\\?&]q=([^&#]*)";
					var regex = new RegExp( regexS );
					var results = regex.exec( location.href );
						if (results != null) {
						var e = document.getElementById('search-field');
						e.value = results[1];
					}
				};
				</script>
			</div>
