			<div class="h-search">
					<form method="GET" action="{{ site.url }}/search.html">
						<div id="search-field-div"><input id="search-field" type="text" name="q" value="" placeholder="{% if page.pagelang != 'ru' %}site search{% else %}поиск по сайту{% endif %}"></div>
					</form>
				<script>
				{
					var regexS = "[\\?&]q=([^&#]*)";
					var regex = new RegExp( regexS );
					var results = regex.exec( location.href );
						if (results != null) {
						var e = document.getElementById('search-field');
						e.value = results[1].replace(/\+/g, ' ');
					}
				};
				</script>
			</div>
