<!DOCTYPE html>
<html lang="{{page.pagelang}}">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >

<meta name="viewport" content="width=device-width, initial-scale=1">
{% if page.noindex == true %}<meta name="robots" content="noindex">{% endif %}
<link rel="icon" type="image/vnd.microsoft.icon" href="/conemu.ico">
<link rel="icon apple-touch-icon" type="image/png" href="/img/logo-114.png" sizes="144x144">
<!--OpenSearch-->
{% include schema_search.html %}

<meta name="author" content="@ConEmuMaximus5">

{% if page.canonical and page.canonical != '' %}
<link rel="canonical" href="{{page.canonical}}">{% endif %}
<!--
This page was saved from: {{site.url}}{{page.url}}
-->

<link rel="stylesheet" href="/main.css">

<title>{{page.title}}</title>
{% if page.description != '' and page.description != nil %}<meta name="description" content="{{page.description}}">{% endif %}

<meta property="og:url" content="{{page.canonical_url}}">
<meta property="og:title" content="{{page.title}}">{% if page.description != '' and page.description != nil %}
<meta property="og:description" content="{{page.description}}">{% endif %}{% if page.og_image != '' and page.og_image != nil %}
<meta property="og:image" content="{{page.og_image}}">{% endif %}

{% if site.url != 'local' %}{% include analytics.html %}{% endif %}
{% if site.url != 'local' %}{% include yametrica.html %}{% endif %}

</head>

<body>

<div class="wrapper">
<div class="maincol">

{% include header.html %}

	<div class="middle">

{% include breadcrumbs.html %}

		<div class="container">
			<div class="content">

<article>

{% if page.force_header or (page.h1_title != nil and page.h1_title != '') %}
	<h1>{% if page.h1_title %}{{ page.h1_title }}{% else %}{{ page.title }}{% endif %}</h1>{% if page.h1_content != '' and page.h1_content != nil %}
	<p>{{ page.h1_content }}</p>{% endif %}
{% endif %}

{{ content }}

</article>

{% include readalso.html %}

<!-- BackToContents start -->
				<footer>
				<span class="text stext"><a href="/ru/TableOfContents.html">Назад к оглавлению</a></span>
				<span class="text stext"> | <a href="https://github.com/ConEmu/ConEmu.github.io/blob/master/{{page.path}}" rel="nofollow">Suggest better edit</a></span>
				</footer>
<!-- BackToContents end -->

			</div><!-- .content-->
		</div><!-- .container-->

		<div class="left-sidebar">
{% include menu_ru.html %}
{% include search.html %}
		</div><!-- .left-sidebar -->

	</div><!-- .middle-->

</div><!-- .maincol -->
</div><!-- .wrapper -->

{% include copyright.html %}

</body>
</html>
