<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/vnd.microsoft.icon" href="/conemu.ico">

<meta name="author" content="@ConEmuMaximus5">

<!--
This page was saved from: {{site.url}}{{page.url}}
-->

<link rel="stylesheet" href="/main.css">

<title>{{page.title}}</title>
{% if page.description != '' and page.description != nil %}<meta name="description" content="{{page.description}}">{% endif %}

{% if site.url != 'local' %}{% include analytics.html %}{% endif %}

</head>

<body>

<div class="wrapper">
<div class="maincol" id="wikimaincol">

	<div class="header">
		<div id="logo-block">
			<div>
				<div id="logo-title"><a href="{{ site.url }}/ru/ConEmu.html">ConEmu</a></div>
				<div id="logo-descr"><a href="{{ site.url }}/ru/ConEmu.html">эмулятор терминала</a></div>
				<div id="social">
					<a href="http://www.facebook.com/share.php?u=http://conemu.github.io/" rel="nofollow" target="_blank" title="FaceBook" id="soc-facebook"></a>
					<a href="http://twitter.com/share?url=http://conemu.github.io/" rel="nofollow" target="_blank" title="Twitter" id="soc-twitter"></a>
					<div id="soc-plus">
{% if site.url != 'local' %}{% include googleplus.html %}{% endif %}
					</div>
				</div>
			</div>
			<div id="header-google">
{% if site.url != 'local' %}{% include googleads.html %}{% endif %}
			</div>
		</div>
		<div id="header-line"></div>
	</div><!-- .header-->

	<div class="middle">
		<div class="container">
			<div class="content">

<article>

{% if page.force_header or (page.h1_title != nil and page.h1_title != '') %}
	<header>
	<h1>{% if page.h1_title %}{{ page.h1_title }}{% else %}{{ page.title }}{% endif %}</h1>{% if page.h1_content != '' and page.h1_content != nil %}
	<p>{{ page.h1_content }}</p>{% endif %}
	</header>
{% endif %}

{{ content }}

</article>

<!-- BackToContents start -->
				<footer>
				<div class="text stext"><a href="/ru/TableOfContents.html">Назад к оглавлению</a></div>
				</footer>
<!-- BackToContents end -->

			</div><!-- .content-->
		</div><!-- .container-->

		<div class="left-sidebar">
{% include menu_ru.html %}
		</div><!-- .left-sidebar -->

	</div><!-- .middle-->

</div><!-- maincol -->
</div>

{% include copyright.html %}

</body>
</html>
