<!DOCTYPE html>
<html lang="{{page.pagelang}}">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >

{% if page.url == '/index.html' %}
<meta name='yandex-verification' content='5bb2b6c69957dc18' />
<meta name="msvalidate.01" content="C3DA7A77EADF40C2ABF460748978E8F9" />
<meta name='wmail-verification' content='ed799a87ae06320d92a0e7c9f31dec1d' />
{% include schema_info.html %}
{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1">
{% if page.noindex == true %}<meta name="robots" content="noindex">{% endif %}
<link rel="icon" type="image/vnd.microsoft.icon" href="/conemu.ico">
<link rel="icon apple-touch-icon" type="image/png" href="/img/logo-114.png" sizes="144x144">
<!--OpenSearch-->
{% include schema_search.html %}

<meta name="author" content="@ConEmuMaximus5">

{% if page.canonical and page.canonical != '' %}
<link rel="canonical" href="{{page.canonical}}">{% endif %}
<!--
This page was saved from: {{site.url}}{{page.url}}
-->

<!--<link rel="stylesheet" href="/normalize.css">-->
<link rel="stylesheet" href="/main.css">
{% if site.url == 'local' %}
<link rel="stylesheet" href="/local.css">
{% endif %}{% if page.url == '/search.html' %}
<link rel="stylesheet" href="/searchresults.css">
{% endif %}

<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

{% if page.category == "blog" and page.build %}
<title>Build {{ page.build }}</title>
{% else %}
<title>{{page.title}}</title>
{% if page.description != '' and page.description != nil %}<meta name="description" content="{{page.description}}">{% endif %}
{% endif %}

<meta property="og:url" content="{{page.canonical_url}}">
<meta property="og:title" content="{{page.title}}">{% if page.description != '' and page.description != nil %}
<meta property="og:description" content="{{page.description}}">{% endif %}{% if page.og_image != '' and page.og_image != nil %}
<meta property="og:image" content="{{page.og_image}}">{% endif %}

{% if site.url != 'local' %}{% include analytics.html %}{% endif %}
{% if site.url != 'local' %}{% include yametrica.html %}{% endif %}

</head>

<body>

<div class="wrapper">
<div class="maincol">

{% include header.html %}

	<div class="middle">

{% include breadcrumbs.html %}

		<div class="container">
			<div class="content">

<article>

{% if page.force_header or (page.h1_title != nil and page.h1_title != '') %}
	<h1>{% if page.h1_title %}{{ page.h1_title }}{% else %}{{ page.title }}{% endif %}</h1>{% if page.h1_content != '' and page.h1_content != nil %}
	<p>{{ page.h1_content }}</p>{% endif %}
{% elsif page.category == "blog" and page.build %}
<h2 class="h0" id="Build_{{ page.build }}"><a href="{{ page.url }}"> Build {{ page.build }} </a></h2>
{% endif %}

{{ content }}

{% if page.category == "blog" %}
<!--end-->
{% include blog_navigation.html %}
{% endif %}

</article>

{% include readalso.html %}

{% if page.isroot == false %}
<!-- Some footer links -->
				<footer id="footer-links">
				<!-- Back to the table of contents -->
				<span class="text stext"><a href="{{ page.docfolder }}/TableOfContents.html">{{ page.toctitle }}</a></span>
				<!-- Suggest better edit -->
				<span class="text stext"> | <a href="https://github.com/ConEmu/ConEmu.github.io/blob/master/{{page.path}}" rel="nofollow">{{ page.suggedit }}</a></span>
				</footer>
<!-- Some footer links end -->
{% endif %}
			</div><!-- .content-->
		</div><!-- .container-->

		<div class="left-sidebar">
{% if page.pagelang == 'ru' %}
{% include menu_ru.html %}
{% else %}
{% include menu_en.html %}
{% endif %}
		</div>
		<div class="left-sidebar">
{% include search.html %}
		</div>
{% if page.otherlang != nil %}
		<div class="left-sidebar">
{% include otherlang.html %}
		</div>
{% endif %}
	</div><!-- .middle-->

</div><!-- .maincol -->
</div><!-- .wrapper -->

{% include copyright.html %}

<!-- Auto select text in preformatted elements on click. -->
<script>
	if(document.addEventListener) document.addEventListener('DOMContentLoaded', function() {
		function selectText() {
			var sel = document.getSelection();
			var rng = document.createRange();

			sel.removeAllRanges();
			rng.selectNodeContents(this);
			sel.addRange(rng);
		}

		var snippets = document.querySelectorAll('.content pre');

		for(var i = 0; i < snippets.length; ++i) {
			var child = snippets[i].querySelector('code');
			var target = child ? child : snippets[i];

			target.innerHTML = target.innerHTML.trim();
			snippets[i].addEventListener('click', selectText);
		}
	});
</script>

</body>
</html>
