<!DOCTYPE html>
<html lang="{{page.pagelang}}">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >

<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.url == '/index.html' %}
<meta name='yandex-verification' content='5bb2b6c69957dc18' />
<meta name="msvalidate.01" content="C3DA7A77EADF40C2ABF460748978E8F9" />
<meta name='wmail-verification' content='ed799a87ae06320d92a0e7c9f31dec1d' />
{% include schema_info.html %}
{% include schema_search.html %}
{% endif %}

<link rel="icon" type="image/vnd.microsoft.icon" href="/conemu.ico">

<meta name="author" content="@ConEmuMaximus5">

<!--
This page was saved from: {{site.url}}{{page.url}}
-->

<!--<link rel="stylesheet" href="/normalize.css">-->
<link rel="stylesheet" href="/main.css">
{% if site.url == 'local' %}
<link rel="stylesheet" href="/local.css">
{% endif %}

<title>{{page.title}}</title>
{% if page.description != '' and page.description != nil %}<meta name="description" content="{{page.description}}">{% endif %}

<meta property="og:url" content="{{page.canonical_url}}">
<meta property="og:title" content="{{page.title}}">{% if page.description != '' and page.description != nil %}
<meta property="og:description" content="{{page.description}}">{% endif %}{% if page.og_image != '' and page.og_image != nil %}
<meta property="og:image" content="{{page.og_image}}">{% endif %}

{% if site.url != 'local' %}{% include analytics.html %}{% endif %}

</head>

<body>

<div class="wrapper">
<div class="maincol" id="wikimaincol">

	<div class="header">
		<div id="logo-block">
			<div>
				<div id="logo-title"><a href="{% if site.url != 'local' %}{{ site.url }}{% endif %}/">ConEmu</a></div>
				<div id="logo-descr">{% if site.url != 'local' %}<a href="http://conemu.github.io/">Windows terminal</a>{% else %}<span id="media-width"></span><span id="media-orient"></span>{% endif %}</div>
				<div id="social">
					<a href="http://www.facebook.com/share.php?u=http://conemu.github.io/" rel="nofollow" target="_blank" title="FaceBook" id="soc-facebook"></a>
					<a href="http://twitter.com/share?url=http://conemu.github.io/" rel="nofollow" target="_blank" title="Twitter" id="soc-twitter"></a>
					<div id="soc-plus">
{% if site.url != 'local' %}{% include googleplus.html %}{% endif %}
					</div>
				</div>
			</div>
			<div id="header-google">
{% if site.url != 'local' %}{% include googleads.html %}{% endif %}
			</div>
		</div>
		<div id="header-line"></div>
	</div><!-- .header-->

	<div class="middle">

{% include breadcrumbs.html %}

		<div class="container">
			<div class="content">

<article>

{% if page.force_header or (page.h1_title != nil and page.h1_title != '') %}
	<header>
	<h1>{% if page.h1_title %}{{ page.h1_title }}{% else %}{{ page.title }}{% endif %}</h1>{% if page.h1_content != '' and page.h1_content != nil %}
	<p>{{ page.h1_content }}</p>{% endif %}
	</header>
{% endif %}

{{ content }}

</article>

			</div><!-- .content-->
		</div><!-- .container-->

		<div class="left-sidebar">
{% include menu_en.html %}
{% include search.html %}
		</div><!-- .left-sidebar -->

	</div><!-- .middle-->

</div><!-- maincol -->
</div>

{% include copyright.html %}

</body>
</html>
